body{
    margin:0px;
    padding: 0px;
}

#nav{
    /* height: 50px; */
}

#container1{
    height: 300px;
    background-image: url('image2.jpg');
    background-position: center;
}
img{
    height: 250px;
}
#container2{
    height: 150px;
    background-image: url("image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#img1{
    height: 400px;
}

#container3{
    height:315px ;
    background-image: url('image2.jpg');
    background-position: center;

}
.form1{
    opacity: 0.5;
}

